@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  margin: 0;
  height: 100%;
}
html{
  height: 100%;
}

.app{
  height: 100vh;

}

.navBox {
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  display: flex;
  align-items: center;

}

.navButton{
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  display: none;
}

.navLogo {
  display: flex;
  position: absolute;
  left: 5%;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.navLogo1{
  display: flex;
  position: absolute;
  left: 7%;
  top: 55%;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  width: 35vw;
  left: 60%;
  position: absolute;
  font-family: 'Nunito', sans-serif;
}

.aboutNav:hover, .blogNav:hover, .directNav:hover{
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* .flipIcon:hover ~ .gridImages {
  transform:scale(1.01);

} */

/* Aboutpage */
.aboutPage{
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
}

.aboutContainer{
  display: flex;
  width: 80%;
  background-color: teal;
  height: 80vh;
  flex-direction: column;
  position: relative;
  top: 10vh;
  border-radius: 50px;
  margin-bottom: 5%;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}
.aboutMain{
  display: flex;

}

.aboutContent{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
}

.aboutTitle{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.titleA{
  font-size: 3em;
}


.aboutImage{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;

}

.aboutImage > img {
  height: auto;
  width: auto;
  max-height: 500px
}



.directoryNav{
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  position: relative;
  top: 10vh;
  border-radius: 50px;
  margin-bottom: 5%;
  font-family: 'Nunito', sans-serif;
  background: rgb(253,186,248);

background: -webkit-linear-gradient(rgba(253,186,248,1) 0%, rgba(176,239,235,1) 50%, rgba(236,163,245,1) 100%);
background: -o-linear-gradient(rgba(253,186,248,1) 0%, rgba(176,239,235,1) 50%, rgba(236,163,245,1) 100%);
background: linear-gradient(rgba(253,186,248,1) 0%, rgba(176,239,235,1) 50%, rgba(236,163,245,1) 100%);



filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdbaf8",endColorstr="#eca3f5",GradientType=1);

}
.navTitle{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  font-size: 2.5em;
}

.navTitle > h2 {
  margin: 2% 0;
}
.navnav{
  display: flex;
}
.directory{
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;

}

.categoryMen{
  align-items:center;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.menItems{
  width: 40%;
  min-height: 300px;
  height: auto;
  border: 10px solid #edffa9;
  padding: 1% 0;
  margin: 2% 0;
  box-shadow: 1px 1px 5px black;
  background-color: white;


}
.womenItems{
  width: 40%;
  min-height: 300px;
  height: auto;
  box-shadow: 1px 1px 5px black;
  border: 10px solid #edffa9;
  padding: 1% 0;
  margin: 2% 0;
  background-color: white;
}

.categoryWomen{
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items:center;
}

.categoryHeader{
  text-align: center;
  font-size: 2em;
  margin: 25px 0;

  text-decoration: underline  black;
}

.categoryTitle{
  text-align: center;
  font-size: 1.5em;
  margin: 1% 0;
  /* text-decoration: underline #fdbaf8; */
}

/* Main */
.homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer {
  display: flex;
  width: 80%;
  /* height: 100%; */
  flex-direction: row;
  position: relative;
  margin-bottom: 5%;


}

.mainDiv {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: row;
  /* background-color: #fc0093; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23ef2d9e' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23e359aa' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23dc80b6' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23daa2c3' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23dcc0d0' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23e3d9df' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border-radius: 50px;




}

.girlImg {
  width: 100%;
  height: 100%;
  position: relative;
  left: 4%;


}

.girlImg > img{
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  position: absolute;

}

.mainCta{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;

}

.mainCta > h2 {
  position: absolute;
  width: 70%;
  line-height: 1.3;
  letter-spacing: 2;
  left: 20%;
  top: 20%;
  font-size: 4.5em;
  font-family: 'Nunito', sans-serif;
}

.mainCta > button {
  width: 25%;
  position: relative;
  height: 10%;
  max-height: 100px;
  top: 75%;
  left: 40%;
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  color: white;
  border: none;
  background-color: black;
  border-radius: 50px;
}

.mainCta > button:hover{
  text-decoration: underline white;
  cursor: pointer;
}



.footer{
  display: flex;
  margin-top: 5%;
  height: 30vh;
  width: 100%;
  flex-direction: row;
  background-color: pink;
  position: relative;

}

.footerLeftContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  font-family: 'Nunito', sans-serif;
  position: relative;
}

.footerCTA{
  display: flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  font-size: 1.1em;
  left: 11%;
  top: 10%;
}


.copyRight{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 55%;
  bottom: 2%;
}

.footerRightContainer{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  align-items: center;


}


.footerSocialLinks{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  position: relative;
  height: 50%;
  bottom: 5%;
}


.linksHeader{
  font-family: 'Nunito', sans-serif;
  border-bottom: 1px solid white;
  margin: 0;

}
.aboutLink{
  position: relative;
  top: 5%;
}
.siteLinks{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;


}


.socialLinks{
  display: flex;
  align-content: space-between;
  width: 100%;
  justify-content: space-evenly;
}

.botNavLinks{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

/* grid */

.exploreGrid{
  display: flex;
  flex-direction: row;
  width: 80%;
  /* height: 100%; */
  background-color: #fff;
  position: relative;
}

.gridMain{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: rgb(199,180,255);
  background: linear-gradient(180deg, rgba(199,180,255,1) 0%, rgba(152,221,202,1) 95%, rgba(152,221,202,1) 100%);}

#explore {
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  z-index: 2;
  padding: 2.5% 0;
  }



.imageGrid{
  display: grid;
  position: relative;
  height: 100%;
  width: 90%;
  /* background-color: pink; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 25vw);
  gap: 20px;

}
.gridImages{
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: block;
  height: auto;
  justify-self: center;
  /* transform-style: preserve-3d; */
  /* transition: all linear .7s ; */
}

.gridImages:hover{
  transform: scale(1.01);
}

.flipIcon{
  width: 20px;
  height: 20px;
  position: absolute;
  top:90%;
  right: 18%;
}

.backSideGridImage{
  max-height: 100%;
  width: auto;
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-self: center;
  opacity: 0.2;
  position: relative;
  display: flex;
}

.cardBack{
  display: flex;
  position: absolute;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  height: 92%;
  font-family: 'Nunito', sans-serif;
  /* background-color: blue; */
}

.cardTop{
  display: flex;
  /* background-color: green; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cardBottom{
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
}

.storeName{
  font-size: 2.5em;
  margin: 0;
  /* padding-left: 1%; */
}



.storeItems{
font-size: 1.2em;
font-weight: bold;
padding: 2%;
margin: 0;
}

a > img {
  width: 25px;
  max-width: 100%;
}


.storeSocials{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  /* padding-left: 3%; */
}


.storeProducts{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* padding-left: 3%; */

}
.subHeader {
  font-size: 1.5em;
  font-weight: bold;

}

.imageContainer{
  position: relative;
  z-index: 1;
  perspective: 1000px;
}

/* .imageContainer:hover .gridImages  {
  transform: rotateY(180deg);
} */


.imageContainer > h3 {
  position: absolute;
  top: 10%;
  z-index: 2;
}

.cardSide {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.card{
  width: 100px;
  height: 200px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-nav{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 72%;
  top: 70%;
  background-color: white;
  border: 1px solid black;
  color: #fff;
  width: 18%;
  padding: 1%
}

.quickLinks{
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: flex-start;
  border-right: 3px solid white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  height: 100%;

}
.quickLinks > h3 {
  margin: 25px 0;
  font-size: 2em;
  text-decoration: underline white;
}

.menQuickLinks, .wQuickLinks{
  display: flex;
  flex-direction: column;
}

.quickLinkTitle{
  text-decoration: underline white;
}

.qLinks{
  cursor: pointer;

}

.qLinks:hover{
  text-decoration: underline #edffa9;

}




/* Media queries */

@media screen and (max-width: 1366px){
  .mainCta > h2{
    font-size: 3.2em;
    left: 23%;

  }
  .mainCta > button {
    height: 8%;

  }
.navLogo1{
  left:8%;
  top:56%;
}
.imageGrid{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 25vw)
}
.flipIcon{
  right: 5%;
  }
  .storeName{
    font-size: 2em;
  }
  .subHeader{
    font-size: 1.2em;
  }
  .storeItems{
    font-size: 1em;
  }
  a > img{
    width: 20px;
  }
  .footerCTA{
    font-size: 1em;
    top: 0;
  }
  .footerCTA > p {
    margin: 14px 0;
  }
  .aboutImage > img {
    height: auto;
    width: auto;
    max-height: 325px
  }
.aboutImage{
  width: 40%;
}
.aboutContent{
  justify-content: flex-start;
}
.menItems, .womenItems{
  width: 50%;
}
.navTitle > h2 {
  font-size: 1.5em;
}

}

@media screen and (max-width: 575.98px){
  .mainCta > h2{
    font-size: 2em;
    width: 90%;
    left: 6%;

  }
  .navBox{
    position: fixed;
  }

  .mainCta > button {
    width: 50%;
    height: 15%;
    left: 25%;

  }
.navButton{
  display: block;
  position: absolute;
  right: 15%;
  top: 43%;
}
.hide-nav{
  display: none;
}


  .mainDiv{
    flex-direction: column;
    height: 80vh;
  }
  .mainContainer{
    height: 80vh;
  }

  .navLogo{
    left:10%;
  }
  .navLogo1{
    left: 20.5%;
  }
  .imageGrid{
    /* grid-template-columns: repeat(16, 1fr) */
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: 1fr;

    ;

  }
  .exploreGrid{
    width: 90%;
  }
  .gridMain{
    padding-bottom: 20%;
  }
  #explore{
    font-size: 2em;
  }
  .flipIcon{
    right: 7%;
    }
  .footer{
      height: 70vh;
      flex-direction: column;
  }
  .copyRight{
      width: 100%;
      top: 545px;
      position: relative;
      left: 0;


  }
  .footerLeftContainer{
    flex-direction: row
  }
  .footerRightContainer{
    flex-direction: column;
    height: 50%;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .navnav{
    flex-direction: column;
  }
  .quickLinks{
    flex-direction: row;
    width: 100%;
    border: none;
    align-items: baseline;

  }
  .linkHeader {
    font-size: 1em;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 5.5%;
    border: none;
    text-transform: uppercase;
  }
  .menQuickLinks, .wQuickLinks{
    height: 100%;
    width: 100%;
    align-items: flex-start

  }
  .menQuickLinks{
    padding-right: 2%;
  }
  .qLinks{
    font-size: 1em;
  }
  .navTitle{
    text-align: center;
    padding: 5% 0;
    border-bottom: 1px solid white;
  }
  .navTitle > h2 {
    font-size: 0.9em;
  }
  .categoryMen, .categoryWomen{
    width: 100%;
  }
  .directoryNav{
    margin-bottom: 30%;
    width: 90%;
  }
  .womenItems, .menItems {
    width: 65%;
  }
  .aboutMain{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .aboutImage{
    width: 100%;
    justify-content: center;
    padding-right: 0%;
  }
  .aboutContainer{
    height: 100%;
    width: 90%;
    margin-bottom: 30%;
  }
  .aboutContent{
    width: 75%;
    align-items: center;
  }
  .titleA{
    margin: 5% 0;
  }
  .show-nav{
    top: 75%;
    left: 70.5%;
  }
  .mainContainer{
    height: 90vh;
    width: 90%;
    margin-bottom: 5%;
  }
  .gridMain{
    padding-top: 15%;

  }
  .girlImg{
    justify-content: center;
    display: flex;
  }

}
