@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  margin: 0;
  height: 100%;
}
html{
  height: 100%;
}

.app{
  height: 100vh;
}

.navBox {
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  display: flex;
  align-items: center;

}

.navLogo {
  display: flex;
  position: absolute;
  left: 5%;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  width: 35vw;
  left: 60%;
  position: absolute;
  font-family: 'Nunito', sans-serif;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;


}

.mainDiv {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: row;
  /* background-color: #fc0093; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23ef2d9e' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23e359aa' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23dc80b6' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23daa2c3' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23dcc0d0' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23e3d9df' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;



}

.girlImg {
  width: 100%;
  height: 100%;
  position: relative;
  left: 4%;

}

.girlImg > img{
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  position: absolute;

}

.mainCta{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;

}

.mainCta > h2 {
  position: absolute;
  width: 60%;
  line-height: 1.3;
  letter-spacing: 2;
  left: 20%;
  top: 20%;
  font-size: 4.5em;
  font-family: 'Nunito', sans-serif;
}

.mainCta > button {
  width: 25%;
  position: relative;
  height: 10%;
  max-height: 100px;
  top: 75%;
  left: 35%;
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  color: white;
  border: none;
  background-color: black;
  border-radius: 50px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 100%;
  background-color: #fff;
  position: relative;


}

.sideBarRight{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 10%;
  height: 100%;
  background-color: #fff;
}

.bottomNav{
  display: flex;
  margin-top: 5%;
  height: 20%;
  width: 100%;
  flex-direction: row;
  background-color: blue;

}

.bottomNavContent{
  display: flex;
  width: 100%;
}

/* grid */

.exploreGrid{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 100%; */
  background-color: #fff;
  position: relative;
}

.gridMain{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: rgb(199,180,255);
  background: linear-gradient(180deg, rgba(199,180,255,1) 0%, rgba(152,221,202,1) 95%, rgba(152,221,202,1) 100%);}

#explore {
  font-size: 3em;
  font-family: 'Nunito', sans-serif;
  z-index: 2;
  padding: 2.5% 0;
  }

.imageGrid{
  display: grid;
  position: relative;
  height: 100%;
  /* background-color: pink; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 25vw);
  gap: 20px;
}
.gridImages{
  max-height: 100%;
  width: auto;
  max-width: 100%;
  height: auto;
  justify-self: center;
  /* transform-style: preserve-3d;
  transition: all .7s linear; */
}

.backSideGridImage{
  max-height: 100%;
  width: auto;
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-self: center;
  opacity: 0.2;
  position: relative;
  display: flex;
}

.cardBack{
  display: flex;
  position: absolute;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  height: 92%;
  font-family: 'Nunito', sans-serif;
  /* background-color: blue; */
}

.cardTop{
  display: flex;
  /* background-color: green; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cardBottom{
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
}

.storeName{
  font-size: 2.5em;
  margin: 0;
  /* padding-left: 1%; */
}



.storeItems{
font-size: 1.2em;
padding: 2%;
margin: 0;
}

a > img {
  width: 30px;
  max-width: 100%;
}


.storeSocials{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding-left: 3%; */
}

.socialIcons{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding-top: 1.5%
}

.storeProducts{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* padding-left: 3%; */

}
.subHeader {
  font-size: 1.5em;
  font-weight: bold;

}

.imageContainer{
  position: relative;
  z-index: 1;
  perspective: 1000px;
}

/* .imageContainer:hover .gridImages  {
  transform: rotateY(180deg);
} */


.imageContainer > h3 {
  position: absolute;
  top: 10%;
  z-index: 2;
}

.cardSide {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.card{
  width: 100px;
  height: 200px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
